<head>
    <title>-----</title>
    <link rel="stylesheet" href="/public/css/all.css">
    <script src="/public/js/garbage.js"></script>
</head>
<body class="crt">
    <div class="terminal" id="terminal">
        <div class="terminalbox" id="terminalbox"></div>
        <ul id="inputline" style="display: none;"><span id="vm_user">guest</span>@<span id="vm_machine">vm1</span>:<span id="vm_directory">~</span>$ <span id="_i"></span><span class="blink"></span></ul>
    </div>
</body>