<head>
    <title>-----</title>
    <link rel="stylesheet" href="/public/css/all.css">
</head>
<body class="crt">
   <div style="
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%); user-select: none;
   word-wrap: break-word;
   max-width: 95%;">
        <div style="text-align: center;"><span style="background-color: white; color: rgb(32,32,32); padding: 0 12px;">INVITATION</span></div>
        <p>Welcome, dear user!</p>
        <p>You are being given biggest opportunity in your life. We invite you to ceremony that can change your life forever!</p>
        <p>Say... <span style="background-color: white; color: rgb(32,32,32); padding: 0 12px;">Do you have regrets?</span></p>
        <p>If you fall into the category of people that in fact have them (&gt;90% of people!) then you sure will enjoy our ceremony!</p>
        <p>You should already know the location of the meetup. Please show up before 12:00 EST.</p>
    </div>
</body>