<head>
    <title>/home/guest/ps.sh</title>
    <link rel="stylesheet" href="/public/css/all.css">
</head>
<body class="crt">
    <div class="terminal">
        <ul>Authorization required.</ul>
        <ul>ID:&nbsp;&nbsp;<input name="userid" placeholder="|" onkeypress="return /^[A-Za-z0-9_]+$/.test(event.key);" maxlength="16"></ul>
        <ul>PWD:&nbsp;<input name="pwd" placeholder="|" type="password" maxlength="64"></ul>
        <ul><span id="resdata">Press ENTER key to proceed.</span> <span class="blink"></span></ul>
    </div>
</body>